*{
    padding: 10px;
    height: auto;
    width: auto;
    --o-animation-direction: radius 25px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: aquamarine;
    text-align: center;
    display: block;
}

.la-page-web .Les-paragafe{
    box-shadow: #0D8778 5px 20px  20px;
    background-origin: padding-box;
    background-color: #16F5DA;
}

.Les-paragafe:hover{
    box-shadow: #C3F6F0  5px 20px  20px;
    background-color: #0D8778;
    color: #fff;
}

#rocherche{
    padding-top: 100PX;
    padding: 5%;
    height: 10px;
    width: 400px;
    margin-top: auto;
    border-radius: 25px 25px;
    font-size: 25px;
    border-color: black;
    backface-visibility: hidden;
    background-color: #16F5DA;
}